<br>
<div class= "container">
  <header class= "jumbotron">
    <h1>Lunch Answers</h1>
    <h3 id="jumbo">{{#link-to 'index'}}Home{{/link-to}} ||
    {{#link-to 'about'}}About Us {{/link-to}} ||
    {{#link-to 'contact'}}Contact Us!{{/link-to}}</h3>
  </header>
    {{outlet}}
  <br>
  <footer>
    <h2>{{#link-to 'contact'}}Contact Us!{{/link-to}} ========
    {{#link-to 'about'}}About Us{{/link-to}}</h2>
    <br>
    <hr>
  </footer>
</div>
