<div class= "container">
  <header class= "jumbotron">
    <h1>Lunch Answers</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <br><br>
  <footer>
    {{#link-to 'contact'}}Contact Us!{{/link-to}}
  </footer>
</div>
