<h1> Welcome to Lunch Answers </h1>

<h4>We hope you find the lunch you seek at a sustainable price.</h4>
<br>
<ul>
{{#each model as |question|}}
  {{question-tile question=question}}
{{/each}}
</ul>
<br>
{{new-question saveQuestion2="saveQuestion3"}}
<br>
{{#link-to 'about'}}About Us{{/link-to}} <br> <br>
{{#link-to 'contact'}}Contact us{{/link-to}}
