
<h4>We hope you find the lunch you seek at a sustainable price.</h4>
<br>
<ul>
  <h2> Lunch Questions.... </h2>

{{#each model.questions as |question|}}
  <hr>
  {{question-tile question=question update="update"}}
  <hr>
{{/each}}
</ul>
<br>
{{new-question saveQuestion2="saveQuestion3"}}
<br>
